.slidecontent-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: goldenrod;
    height: 70vh
}

.slidecontent-left{
    
    background: gray;
    width: 50%;
}
.slidecontent-right{
    width: 40%;

}